@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  text-decoration: none;
  position: relative;
  margin-bottom: 0.25rem;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background-image: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
  }
}

.button-active {
  background-color: white;
  font-weight: 500;
  color: black;
}

.form-label {
  &.active {
    top: -10px;
    left: 12px;
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
    font-weight: 200;
    padding-left: 4px;
    padding-right: 4px;
  }
  &.unactive {
    top: 0;
    left: 0;
    margin: 8px;
    padding: 0;
    .required & {
      color: red;
    }
  }
}
.required:has(> .form-label.unactive) {
  border-color: red;
}
